*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 600;
    width: 100%;
}
body{
   width: 100%;
}
main{
    display: block;
    margin: auto;
    width: 500px;
    margin-top: 100px;
}
.About{
    margin: auto;
    width: 350px;
}
.section-two{
    margin: auto;
    margin-top: 100px;
    width: 500px;
}
.myskills{
    margin: auto;
    width: 500px;

}
.myskills h2, .myhobbies h2{
    text-decoration: underline;
}
.myhobbies{
    margin: auto;
    width: 500px;
}
